/**
 * Catppuccin Mocha override
 */

@mixin theme() {
  :root {
    --base-color: #cdd6f4;
    --border: dashed 1px rgba(205, 214, 244, 0.6);
    --selection-background: rgba(245, 224, 220, 0.35);
    --selection-text: #1e1e2e;
    --background-color: #1e1e2e;
    --text-color: var(--base-color);
    --placeholder-color: #a6adc8;
    --link-color: #89b4fa;

    --code-color-1: #6c7086;
    --code-color-2: #313244;
    --code-color-3: #f38ba8;
    --code-color-4: #45475a;
    --code-color-5: #cba6f7;
    --code-color-6: #a6e3a1;
    --code-color-7: #f38ba8;
    --code-color-8: #89b4fa;
    --code-color-9: #a6e3a1;
    --code-color-10: #7f849c;
    --code-color-11: #6c7086;
    --code-color-12: #f5c2e7;
    --code-color-13: #94e2d5;
    --code-color-14: #fab387;
    --code-color-15: #f9e2af;
    --code-color-16: #89b4fa;
    --code-color-17: #f2cdcd;
    --code-color-18: #585b70;
  }
}
