.code-block {
    display: block;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    white-space: pre-wrap;
    font-family: monospace;
}

.tag-item {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1.5rem;
    max-width: 75%;
    margin: 0 auto 1.5rem auto;
}

.tag-item img {
    width: 100%;
    border-radius: 8px;

}

.tag-content h2 {
    display: block;
    margin-top: 0px;
}
